    #MyCanvas{
        background-color: rgb(0, 106, 157);
        position: relative;
        left: 300px;
        top: 50px;
      }
    body{
        background-color: rgb(0, 84, 124);
      }
    #ad{
          position: relative;
          top: 100px;
          left: 300px;
          width: 336px;
          height: 280px;
      }