#container{
  position: relative;
}
.centerA{
  display:block;
  text-align:center;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
  background-color: black;
}
h1{
  text-align:center;
  color: white;
}
.whiteText{
  color: white;
}

#wrapper{
 display: flex;
 flex-direction: row;
 justify-content: center; 
 align-items: center;
 min-width: 30%;
}

#logo{
  margin: auto;
  display: block;
  width: 400px;
  height: 325px;
}

.ad{
 min-width: 30%; 
}
